/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.phpunit.cache
/.idea
/.vagrant
npm-debug.log
.deptrac.cache
.env
.env.dusk.local
.phpunit.result.cache
.phpstorm.meta.php
_ide_helper.php
