@import "tailwindcss/base";
@import "custom-base-styles.pcss";
@import "./../../vendor/scrivo/highlight.php/styles/a11y-dark.css";

@import "tailwindcss/components";
/* --> import custom components here */

@import "tailwindcss/utilities";
