@import "./../../node_modules/tailwindcss/base.css";
@import "custom-base-styles.pcss";
@import "./../../node_modules/highlight.js/styles/a11y-dark.css";

@import "./../../node_modules/tailwindcss/components.css";
/* --> import custom components here */

@import "./../../node_modules/tailwindcss/utilities.css";
