@import "./../../node_modules/tailwindcss/base.css";
@import "custom-base-styles.pcss";
@import './../../node_modules/prismjs/themes/prism-okaidia.css';

@import "./../../node_modules/tailwindcss/components.css";
/* --> import custom components here */

@import "./../../node_modules/tailwindcss/utilities.css";
